<div class="center1 grey lighten-4">
<h3 class="center-align titles">Borrower</h3>
	<span class="span1"><% if flash[:errors] %>
		<% flash[:errors].each do |error| %>
			<p class="error"> * <%=error%></p>
		<% end %>
	<% end %>
	</span>
<div>
	<form action="/users/register" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<label for="first_name">First Name</label>
		<input id="First Name" type="text" name="user[first_name]">
		<label for="Last Name">Last Name</label>
		<input id="last Name" type="text" name="user[last_name]">
		<label for="Email">Email</label>
		<input id="Email" type="text" name="user[email]">
		<label for="Password">Password</label>
		<input id="Password" type="password" name="user[password]">
		<label for="passConfirm">Password Confirmation</label>
		<input id="passConfirm" type="password" name="password_confirmation">
		<label for="purpose">Need Money For:</label>
		<input id="purpose" type="text" name="user[purpose]">
		<label for="description">Description:</label>
<!-- 		<input id="description" type="text" name="user[purpose]"> -->
		<textarea rows="6" cols="50" name="user[description]"></textarea>
		<div class="input-field col s12">
			<label for="MoneyNeeded">$ Amount Needed:</label>
			<input id="MoneyNeeded" type="number" name="borrower[money]">
			<input type="hidden" name="borrower[raised]" value="0">
		</div>
		<input class="btn waves-effect waves-light right1" type="submit" value="Join" >
	</form>
	<h5><a href="/sessions/login" class="title5">Already a member?</a></h5>
</div>
</div>
<div class="center5 grey lighten-4">
<h3 class="center-align titles">Lender</h3>
	<span class="span1"><% if flash[:error] %>
		<% flash[:error].each do |errorl| %>
			<p class="error"> * <%=errorl%></p>
		<% end %>
	<% end %>
	</span>
<div>
<div>
	<form action="/lender/register" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<label for="first_name">First Name</label>
		<input id="First Name" type="text" name="lender[first_name]">
		<label for="Last Name">Last Name</label>
		<input id="last Name" type="text" name="lender[last_name]">
		<label for="Email">Email</label>
		<input id="Email" type="text" name="lender[email]">
		<label for="Password">Password</label>
		<input id="Password" type="password" name="lender[password]">
		<label for="passConfirm">Password Confirmation</label>
		<input id="passConfirm" type="password" name="password_confirmation">
		<div class="input-field col s12">
			<label for="money">$ Money:</label>
			<input id="money" type="number" name="lender[money]">
		</div>
		<input class="btn waves-effect waves-light right1" type="submit" value="Join" >
	</form>
	<h5><a href="/sessions/login" class="title5">Already a member?</a></h5>
</div>
</div>