// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*.body {
	width: 100%;
	margin-top: 200px;
}

.fixed1 {
	width: 100%;
	top: 0px;
	position: fixed;
}*/

.container2 {
	width: 889px;
	height: 800px;

}

.push1 {
	padding-right: 20px;
}

.center1 {
	padding: 15px 89px;
    padding-bottom: 62px;
    margin: 0px auto;
    margin-top: 20px;
    width: 613px;
    color: black;
}

.span1 {
	color: red;
}

.right1 {
	margin-left: 41%;
    margin-top: 47px;
}

.right2 {
	margin-left: 30%;
    margin-top: 47px;
}

.words1 {
	color: #4db6ac !important;
}

.logito {
	margin-left: 20px;
}
.center2 {
	text-align: center;
}
.center3 {
	color: red;
}

.select1 {
	border: 1px solid #9e9ea3;
	color: #9e9ea3;
	width: 64px;
	display: inline-block;
	margin: 34px auto;
}

.divy {
	padding-bottom: 20px;
	
}

.titles {
	color: #9e9ea3;
}

.title2 {
	color: #ececec;
}



















